<footer class="bg-[#1D2130] text-white py-10">
  <div class="container mx-auto px-5 flex flex-col md:flex-row items-center justify-between gap-6">
    
    <!-- Branding -->
    <!-- <div class="text-center md:text-left">
      <p class="text-gray-400 font-bold text-xl bg-clip-text">
        ShadowMonkee
      </p>
      <p class="text-gray-400 text-sm mt-1">
        Software Developer & Cybersecurity Enthusiast
      </p>
    </div> -->

    <div class="flex flex-1 justify-end px-5 py-4 gap-10 mt-12">
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/"
        routerLinkActive="active"
      >
        Home
      </button>
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/about-me"
        routerLinkActive="active"
      >
        About Me
      </button>
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/projects"
        routerLinkActive="active"
      >
        Projects
      </button>
      <button
        type="button" 
        class="text-[#525560] font-medium"
        routerLink="/contact"
        routerLinkActive="active"
      >
        Contact
      </button>
    </div>

      <!-- Bottom note -->
    <div class="text-center text-sm text-gray-500 mt-8 mb-8">
        © 2025 ShadowMonkee — All rights reserved.
    </div>
  </div>


</footer>
