/* Logo wrapper */
.navbar-logo {
  height: 100%;              /* Match navbar height */
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 0;           /* Controls logo breathing space */
}

/* Logo image */
.navbar-logo img {
  height: 100%;              /* Scale with navbar */
  width: auto;               /* Preserve aspect ratio */
  object-fit: contain;       /* Prevent distortion */
  display: block;
}


/* Navbar base state */
.navbar {
  width: 100%;
  transition: 0.5s ease;
}

/* Darkens a bit when user scrolls */
.navbar-scrolled {
  background: rgba(21, 21, 21, 0.9);
  transition: 0.5s ease;
}

/* Nav button base */
.nav-btn {
  position: relative;
  font-family: var(--font-body);
  font-size: var(--fs-base);
  font-weight: 500;
  color: var(--text-soft);
  transition: color 0.25s ease;
  margin-left: 16px;
  margin-right: 16px;
}

/* Hover color change */
.nav-btn:hover {
  color: var(--primary);
}

/* Active link color */
.nav-btn.active {
  color: var(--primary);
}

/* Thin underline for hover + active */
.nav-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0%;
  background: var(--primary);
  border-radius: 3px;
  transition: width 0.3s ease;
}

.nav-btn:hover::after,
.nav-btn.active::after {
  width: 100%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background: var(--text-soft);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.mobile-menu {
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  background: rgba(21, 21, 21, 0.95);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.mobile-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.mobile-link {
  font-family: var(--font-body);
  font-size: 1.1rem;
  color: var(--text-soft);
  text-decoration: none;
  transition: color 0.25s ease;
}

.mobile-link:hover,
.mobile-link.active {
  color: var(--primary);
}

.mobile-menu-toggle {
  display:none;
}

@media (max-width: 500px) {
  .desktop-navbar {
    display: none;
  }
  .mobile-menu-toggle {
    display: flex;
  }
}